.axis-extension-surface {
  /* variable declaration */
  --typeface: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  --surface-color: #ffffff;
  --surface-contrast: #000000;
  --on-surface: #363735;
  --primary-color: #00b3be;
  --on-primary: #ffffff;
  --secondary-color: #ffb612;
  --error-color: #d50101;
  --success-color: rgb(0, 50, 0);
  --transition-on-hover: 250ms;
  --transition-on-hide: 500ms;
  --surface-corner: 1rem;
  --surface-shadow: 0px 1px 2px 0px hsl(0 0 0 / 0.2);

  /* surface styles */
  background-color: var(--surface-color);
  color: var(--on-surface);

  /* reset defaults */
  div{
    background-color: inherit;
  }

  /* common block classes */

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    & > *{
      flex: 1;
    }
  }

  .width--full{
    width: 100%;
  }

  /* typography */
  & .typescale--display {
    font-family: var(--typeface);
    font-size: 2.8rem;
    font-weight: normal;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 3.25rem;
  }
  & .typescale--headline {
    font-family: var(--typeface);
    font-size: 1.75rem;
    font-weight: normal;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 2.25rem;
  }
  & .typescale--title {
    font-family: var(--typeface);
    font-size: 1rem;
    font-weight: bolder;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1.5rem;
  }
  & .typescale--body {
    font-family: var(--typeface);
    font-size: 0.875rem;
    font-weight: normal;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1.25rem;
  }
  & .typescale--label {
    font-family: var(--typeface);
    font-size: 0.75rem;
    font-weight: normal;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1rem;
  }
}

/* standalone text nodes */

.modal-label {
  position: absolute;
  inset: 0.75rem auto auto 1rem;
  font-family: var(--typeface);
  font-size: 0.75rem;
  font-weight: 500;
  text-shadow: none;
  text-transform: none;
  text-decoration: none;
  letter-spacing: normal;
  line-height: 1rem;
}

/* buttons */

.button {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: inherit;
  box-shadow: none;
  border: 0;
  border-radius: var(--surface-corner);
  overflow: hidden;

  /* button styles */
  &.surface-button {
    background: var(--primary-color);
    color: var(--on-primary);
  }
  &.outlined-button .button__state {
    background: inherit;
    color: var(--primary-color);
    border: solid 0.0625rem var(--on-surface);
  }

  /* child elements */
  & .button__label {
    z-index: 2;
    position: relative;
    font-family: var(--typeface);
    font-size: 0.75rem;
    font-weight: 500;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1rem;
    white-space: nowrap;
  }
  & .button__state {
    z-index: 1;
    position: absolute;
    inset: 0;
    opacity: 0%;
    background-color: var(--surface-contrast);
  }

  /* on hover, on focus */
  &:hover,
  &:focus-visible,
  & *:hover,
  & *:focus-visible {
    .button__state {
      transition: var(--transition-on-hover);
      opacity: 10%;
    }
  }

  /* standalone buttons */
  &.close-modal {
    position: absolute;
    inset: 0.5rem 0.5rem auto auto;
    border-radius: 50%;
    padding: 0.75rem;
    & .button__label::before {
      position: absolute;
      inset: 50% auto auto 50%;
      translate: -50% -50%;
      content: "\2715";
    }
  }
}

/* text fields */

.text-field {
  z-index: 0;
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  border: 0.125rem solid var(--on-surface);
  border-radius: 0.25rem;
  background-color: inherit;
  color: var(--on-surface);
  cursor: text;
  &:has(.text-field__hint) {
    margin-bottom: 2rem;
  }
  &.text-field--error {
    border-color: var(--error-color);
    color: var(--error-color);
  }
  &.text-field--success {
    border-color: var(--success-color);
    color: var(--success-color);
  }
  .text-field__label {
    position: absolute;
    z-index: 1;
    inset: 0 auto auto 0.5rem;
    translate: 0% -50%;
    padding: 0.25rem;
    background-color: inherit;
    color: var(--on-surface);
  }
  .text-field__input {
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    caret-color: var(--primary-color);
    color: var(--on-surface);
    resize: none;
    &:focus {
      outline: 0;
    }
  }
  input {
    display: block;
    width: 100%;
    height: 100%;
    &::selection, &::-moz-selection{
      background: var(--secondary-color);
    }
  }
  textarea {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.5;
  }
  .text-field__hint {
    position: absolute;
    inset: calc(100% + 0.5rem) 0 auto 0;
    overflow: hidden;
    color: var(--on-surface);
  }
  &:focus-within {
    outline: 0.175rem solid var(--primary-color);
    outline-offset: -0.175rem;
    .text-field__label {
      color: var(--primary-color);
    }
  }
}

/* core components, layout */

#extension-dialog {
  z-index: 1033;
  position: fixed;
  inset: 1rem 1rem auto auto;
  min-width: 22.5rem;
  min-height: 3.25rem;
  padding: 2.5rem 1rem 0.5rem 1rem;
  border-radius: var(--surface-corner);
  box-shadow: var(--surface-shadow);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  /* start invisible */
  opacity: 0%;
  
  & > div {
    width: 100%;
  }
}

#extension-sheet {
  z-index: 1033;
  position: fixed;
  inset: 0 0 0 auto;
  min-width: 24.5rem;
  max-width: 800px;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: var(--surface-corner) 0 0 var(--surface-corner);
  box-shadow: var(--surface-shadow);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  /* start off page */
  transform: translateX(100%);
}

#extension-snackbar {
  z-index: 1033;
  position: fixed;
  inset: auto 1rem 1rem auto;
  min-width: 22.5rem;
  min-height: 3.25rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: var(--surface-corner);
  box-shadow: var(--surface-shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

#extension-preview{
  position: relative;
  height: 100%;
  padding: 0.5rem;
  overflow-y: scroll;

  /* page styling */

  .page{
    position: relative;
    width: calc(8.5 * 96px) !important;
    height: calc(11 * 96px) !important;
    aspect-ratio: 8.5 / 11;
    margin-top: 0.5rem;
    padding: 0.5in;
    gap: 0.125in;
    color: black;
    background-color: white;
    box-shadow: var(--surface-shadow);
    zoom: 50%;

    .page__header{
      position: absolute;
      inset: 0.5in 0.5in auto 0.5in;
      height: 0.75in;
      .logo{
        position: absolute;
        inset: 0 0 auto auto;
        height: 100%;
      }
      .title{
        position: absolute;
        inset: auto auto 0 0;
        min-width: 2in;
        margin: 0;
        padding: 0.25rem 0.5rem;
        background-color: var(--on-surface);
        color: var(--on-primary);
      }
      .topline{
        position: absolute;
        inset: 0 auto auto 0;
        margin: 0;
        padding: 0;
        border: 0;
        color: var(--on-surface)
      }
    }
    .page__body{
      position: absolute;
      inset: 0.5in 0.5in 1in 0.5in;
      overflow: hidden;
    }
    &:has(.page__header) .page__body{
      top: 1.3in;
    }
    .page__footer{
      position: absolute;
      inset: auto 0.5in 0.25in 0.5in;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: end;
      > *{
        line-height: 1;
      }
    }

  }

  /* list styling */

  ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    gap: 0.25rem;
    li{
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin: 0;
      padding: 0;
      gap: 0.25rem;
      list-style-type: none;
      :first-child{
        font-weight: bolder;
      }
    }
  }

  /* table styling */

  table{
    width: 100%;
    border: 0;
    border: 1px solid var(--on-surface);
    th{
      font-weight: bolder;
    }
    th, tr{
      display: flex;
      flex-direction: row;
      align-items: stretch;
      border: 0;
      border-bottom: 1px solid var(--on-surface);
      padding: 0;
      gap: 0;
      td{
        flex: 1;
        border: 0;
        border-right: 1px solid var(--on-surface);
        padding: 0.25rem;
        background-color: inherit;
        input{
          width: 100%;
          box-shadow: none;
          border: 0;
        }
        &.column--wide{
          flex: 2;
        }
        &.no-wrap{
          white-space: nowrap;
          overflow: hidden;
        }
      }
      :last-child{
        border-right: 0;
      }
    }
    :last-child{
      border-bottom: 0px;
    }
  }

  /* superbill styling */
  .superbill{
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: repeat(auto-fit, auto);
    .table{
      grid-column: 1 / 3;
    }
  }
}
