/* color */

.extension-variables {
  --hue: 183;
  --surface-color: hsl(var(--hue) 0% 100%);
  --surface-container: hsl(var(--hue) 25% 90%);
  --surface-container--low: hsl(var(--hue) 35% 95%);
  --surface-container--high: hsl(var(--hue) 20% 90%);
  --on-surface: hsl(var(--hue) 10% 10%);
  --on-surface--alt: hsl(var(--hue) 10% 25%);
  --primary-color: hsl(var(--hue) 50% 25%);
  --primary-container: hsl(var(--hue) 80% 80%);
  --on-primary: hsl(var(--hue) 0% 100%);
  --on-primary-container: hsl(var(--hue) 50% 20%);
  --success-color: hsl(120 50% 25%);
  --error-color: hsl(0 50% 25%);
  --state-hover: hsl(var(--hue) 0% 0%);
  --state-focus: var(--primary-color);
}

.extension-variables {
  --typeface: "Roboto Flex";
  --transition-on-hover: 250ms;
  --transition-on-hide: 500ms;
  --surface-corner: 1rem;
  --surface-shadow: 0px 1px 2px 0px hsl(0 0 0 / 0.2);
}

.extension-surface {
  /* surface styles */
  background-color: var(--surface-color);
  color: var(--on-surface);

  /* default typography */
  font-family: var(--typeface);
  font-size: 0.875rem;
  font-weight: 400;
  text-shadow: none;
  text-transform: none;
  text-decoration: none;
  letter-spacing: normal;
  line-height: 1.25rem;

  /* reset sugarcrm defaults */
  div {
    background-color: inherit;
  }

  /* common block classes */

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    & > * {
      flex: 1;
    }
  }

  .width--full {
    width: 100%;
  }

  /* typography */
  & .typescale--display {
    font-family: var(--typeface);
    font-size: 2.8rem;
    font-weight: 400;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 3.25rem;
  }
  & .typescale--headline {
    font-family: var(--typeface);
    font-size: 1.75rem;
    font-weight: 400;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 2.25rem;
  }
  & .typescale--title {
    font-family: var(--typeface);
    font-size: 1rem;
    font-weight: 500;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1.5rem;
  }
  & .typescale--body {
    font-family: var(--typeface);
    font-size: 0.875rem;
    font-weight: 400;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1.25rem;
  }
  & .typescale--label {
    font-family: var(--typeface);
    font-size: 0.75rem;
    font-weight: 400;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1rem;
  }

  /* symbols */

  .material-symbols {
    font-family: "Material Symbols";
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  /* standalone text nodes */

  .modal-label {
    position: absolute;
    inset: 0.75rem auto auto 1rem;
    font-family: var(--typeface);
    font-size: 0.75rem;
    font-weight: 500;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1rem;
  }

  /* buttons */

  .button {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: inherit;
    box-shadow: none;
    border: 0;
    border-radius: var(--surface-corner);
    color: var(--on-surface);
    overflow: hidden;

    /* button styles */
    &.surface-button {
      background: var(--primary-container);
      color: var(--on-primary-container);
    }
    &.outlined-button {
      background: inherit;
      color: var(--primary-color);
      border: solid 0.0625rem var(--on-surface);
    }
    &.fab {
      z-index: 10;
      position: fixed;
      inset: auto 1rem 1rem auto;
      box-shadow: var(--surface-shadow);
      background: var(--primary-color);
      color: var(--on-primary);
    }
    &:not(:has(.button__label)){
      border-radius: 50%;
      padding: 0.75rem;
    }

    /* child elements */
    .button__label {
      z-index: 2;
      position: relative;
      font-family: var(--typeface);
      font-size: 0.75rem;
      font-weight: 600;
      text-shadow: none;
      text-transform: none;
      text-decoration: none;
      letter-spacing: normal;
      line-height: 1rem;
      white-space: nowrap;
    }

    .button__icon{
      z-index: 2;
      position: relative;
      font-family: "Material Symbols";
      font-weight: normal;
      font-style: normal;
      font-size: 1.25rem;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
    }

    .button__state {
      z-index: 1;
      position: absolute;
      inset: 0;
      opacity: 0%;
      background-color: var(--state-focus);
    }

    /* on hover, on focus */
    &:hover,
    &:focus-visible,
    & *:hover,
    & *:focus-visible {
      .button__state {
        transition: var(--transition-on-hover);
        opacity: 10%;
      }
    }

    /* standalone buttons */
    &.close-modal {
      position: absolute;
      inset: 0.5rem 0.5rem auto auto;
      & .button__icon {
        position: absolute;
        inset: 50% auto auto 50%;
        translate: -50% -50%;
      }
    }
  }

  /* text fields */

  .text-field {
    z-index: 0;
    position: relative;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    border: 0.125rem solid var(--on-surface);
    border-radius: 0.25rem;
    background-color: inherit;
    color: var(--on-surface);
    cursor: text;
    &:has(.text-field__hint) {
      margin-bottom: 2rem;
    }
    &.text-field--error {
      border-color: var(--error-color);
      color: var(--error-color);
    }
    &.text-field--success {
      border-color: var(--success-color);
      color: var(--success-color);
    }
    .text-field__label {
      position: absolute;
      z-index: 1;
      inset: 0 auto auto 0.5rem;
      translate: 0% -50%;
      padding: 0.25rem;
      background-color: inherit;
      color: var(--on-surface);
    }
    .text-field__input {
      border-width: 0;
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;
      caret-color: var(--primary-color);
      color: var(--on-surface);
      resize: none;
      &:focus {
        outline: 0;
      }
    }
    input {
      display: block;
      width: 100%;
      height: 100%;
      &::selection,
      &::-moz-selection {
        background: var(--primary-color);
      }
    }
    textarea {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 1.5;
    }
    .text-field__hint {
      position: absolute;
      inset: calc(100% + 0.5rem) 0 auto 0;
      overflow: hidden;
      color: var(--on-surface);
    }
    &:focus-within {
      outline: 0.175rem solid var(--primary-color);
      outline-offset: -0.175rem;
      .text-field__label {
        color: var(--primary-color);
      }
    }
  }

  /* progressbar */

  .progress {
    position: relative;
    height: 0.25rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: var(--primary-container);

    .progress__indicator {
      z-index: 1;
      position: absolute;
      inset: 0 auto 0 0;
      border-radius: 0.25rem;
      background-color: var(--on-primary-container);
    }

    .progress__stop {
      z-index: 2;
      position: absolute;
      inset: 0 0 0 auto;
      width: 0.25rem;
      border-radius: 0.25rem;
      background-color: var(--primary-color);
    }
  }
}

/* core components, layout */

#extension-dialog {
  z-index: 1033;
  position: fixed;
  inset: 1rem 1rem auto auto;
  min-width: 22.5rem;
  min-height: 3.25rem;
  padding: 2.5rem 1rem 0.5rem 1rem;
  border-radius: var(--surface-corner);
  box-shadow: var(--surface-shadow);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  /* start invisible */
  opacity: 0%;

  & > div {
    width: 100%;
  }
}

#extension-sheet {
  z-index: 1033;
  position: fixed;
  inset: 0 0 0 auto;
  min-width: 24.5rem;
  max-width: 800px;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: var(--surface-corner) 0 0 var(--surface-corner);
  box-shadow: var(--surface-shadow);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  /* start off page */
  transform: translateX(100%);
}

#extension-snackbar {
  z-index: 1033;
  position: fixed;
  inset: auto 1rem 1rem auto;
  min-width: 22.5rem;
  min-height: 3.25rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: var(--surface-corner);
  box-shadow: var(--surface-shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

#extension-preview {
  position: relative;
  height: 100%;
  padding: 8px;
  overflow-y: scroll;

  /* page styling */

  .page {
    --margin: 0.5in;
    --header-height: 0.75in;
    position: relative;
    width: 8.5in;
    height: 11in;
    zoom: 60%;
    margin-top: 8px;
    color: black;
    background-color: white;
    box-shadow: var(--surface-shadow);
    font-family: var(--typeface);
    font-size: 14px;
    font-weight: 400;
    text-shadow: none;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    line-height: 20px;

    &.tjc-document {
      .page__header {
        position: absolute;
        inset: var(--margin) var(--margin) auto var(--margin);
        height: var(--header-height);
        .header__logo {
          position: absolute;
          inset: 0 0 auto auto;
          height: 100%;
        }
        .header__title {
          position: absolute;
          inset: auto auto 0 0;
          min-width: 2in;
          margin: 0;
          padding: 0.25rem 0.5rem;
          border: 0;
          background-color: #363735;
          color: white;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
        }
        .header__topline {
          position: absolute;
          inset: 0 auto auto 0;
          margin: 0;
          padding: 0;
          border: 0;
          color: var(--on-surface);
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }
      .page__body {
        position: absolute;
        inset: var(--margin) var(--margin) calc(var(--margin) * 1.5) var(--margin);
        overflow: hidden;

        .superbill {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 0.5fr;
          grid-template-rows: repeat(auto-fit, auto);
          padding: 16px 0;
          gap: 17px;
          .superbill__list{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 8px;
            .list__title{
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
            }
            .list__subtitle{
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
            }
          }
          /* right align the meta information */
          > :nth-child(2), > :nth-child(2) ul{
            display: flex;
            flex-direction: column;
            align-items: end;
          }

          .superbill__table{
            grid-column: 1 / 3;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 4px;

            font-size: 12px;
            font-weight: 400;
            line-height: 16px;

            .table__title{
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
            }
          
            .table__subtitle{
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }
      }
      &:has(.page__header) .page__body {
        top: calc(var(--header-height) + var(--margin));
      }
      .page__footer {
        position: absolute;
        inset: auto var(--margin) calc(var(--margin) / 2) var(--margin);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        span {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }

  /* basic list styling */

  ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    gap: 0.25rem;
    li {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin: 0;
      padding: 0;
      gap: 0.25rem;
      list-style-type: none;
      :first-child {
        font-weight: 600;
      }
    }
  }

  /* basic table styling */


  table {
    display: block;
    width: 100%;
    border: 1px solid var(--on-surface);

    thead, tbody{
      display: block;
      width: 100%;
      border: 0;
      tr {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        border-bottom: 1px solid var(--on-surface);
        padding: 0;
        gap: 0;
        th{
          font-weight: 600;
        }
        th, td {
          display: block;
          flex: 1;
          border: 0;
          border-right: 1px solid var(--on-surface);
          border-spacing: 0px;
          padding: 4px;
          background-color: inherit;
          text-align: left;
          input {
            width: 100%;
            box-shadow: none;
            border: 0;
          }
          &.column--wide {
            flex: 2;
          }
          &.no-wrap {
            white-space: nowrap;
            overflow: hidden;
          }
        }
        :last-child {
          border-right: 0;
        }
      }
    }
    tbody :last-child {
      border-bottom: 0px;
    }
  }
}

/* preview print styling */

@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
    width: 8.5in !important;
    height: fit-content !important;
    background-color: var(--surface-color) !important;
  }
  #sugarcrm {
    display: none !important;
  }
  #extension-sheet,
  #extension-dialog,
  #extension-snackbar {
    display: none !important;
  }
  @page {
    size: 8.5in 11in !important;
    margin: 0 !important;
  }
  #extension-preview {
    position: absolute !important;
    width: 8.5in !important;
    height: fit-content !important;
    display: block !important;
    padding: 0 !important;

    .button.fab {
      display: none;
    }

    .page {
      position: relative !important;
      width: 8.5in !important;
      height: 11in !important;
      margin-top: 0 !important;
      padding: 0 !important;
      color: black !important;
      background-color: white !important;
      box-shadow: 0 !important;
      zoom: 100% !important;

      &.tjc-document {
        .header__title {
          background-color: #363735 !important;
          color: white !important;
          font-size: 16px !important;
          font-weight: 500 !important;
          line-height: 24px !important;
        }
        .page__body{
          overflow: hidden !important;
        }
      }
    }
  }
}
